html,
body {
    margin: 0px;
    height: 100%;
    font-family: "Helvetica Neue",Helvetica,"Myriad Pro","Lucida Grande",sans-serif;
    min-width: 200px;
}

#wrapper
{
	margin: 0 auto;
	width: 600px;
}

#content_area {

    margin-left:10px;
}

.centered {
	margin-left: auto;
	margin-right: auto;
}

.box {
	display: block;
	width: 600px;
	height: 220px;
	border: solid 0px #000;
	border-width: 0px;
	float: left;
	xclear: both;
	margin-top: 20px;
	margin-bottom: 20px;
}

.clear_both {
    clear: both;
}

.graph {
	width:  300px;
	height: 220px;
	background-color: #fff;
	border: solid 0px #aaa;
	border-width: 0px;
	float: left;
}

.upinfodiv {
	display: inline-block;
	xwidth:  260px;
	background-color: #fff;
	border: solid 0px #aaa;
	border-width: 0px;
	float: left;
	font-size: 22px;
	margin-left: 20px;
}
.text {
	display: inline;
	width:  220px;
	height: 220px;
	background-color: #eee;
	border: solid 0px #aaa;
	border-width: 0px;
	float: left;
	font-size: 18px;

}

.bigtext {
	font-size: 20px;
	margin-top: 20px;
	margin-bottom: 10px;
	float: left;
    background-color: "#588";
    font-weight: 900;
}
.mediumtext {
	font-size: 18px;
	margin-top: 0px;
	margin-bottom: 0px;
	float: left;
	color: #333;
	clear: both;
    font-weight: 400;
}


.graph-text {
	width:  200px;
	height: 200px;
	background-color: #eee;
	border: solid 1px #aaa;
	border-width: 1px;
    margin-left: 200px;
}

@media screen and (min-width: 1240px) {
    #wrapper
    {
        margin: 0 auto;
        width: 1240px;
    }
}

@media screen and (max-width: 380px) {
    #wrapper
    {
        margin: 0 auto;
        width: 380px;
    }

    #content_area {

        margin-left:10px;
    }
    .box {
        width: 380px;
        height: 120px;
        border: solid 0px #000;
        border-width: 0px;
        float: left;
        clear: both;
    }
    .graph {
        width: 180px;
        height: 110px;

    }
    .upinfodiv { 
        display: inline-block;
        float: left;
        border: solid 0px #444;
        border-width: 0px;
    }

    .bigtext {
        font-size: 14px;
        float: left;
        margin-top: 10px;
    }

    .mediumtext {
        font-size: 12px;
        margin-top: 0px;
        margin-bottom: 0px;
        float: left;
        color: #333;
        clear: both;
        font-weight: 400;
    }

    .xtitletext { 
        display: inline-block;
        width:  180px;
        height: 20px;
        background-color: #fff;
        border: solid 1px #444;
        border-width: 1px;
        float: left;
        font-size: 14px;
        margin-left: 10px;
        font-weight: 300;
    }

    .topnav {
        overflow: hidden;
        background-color: "transparent";
        width: 100%;
        margin-left: 10px;
    }

    .topnav a {
        float: left;
        display: block;
        color: #333;
        text-align: center;
        padding: 4px 8px;
        text-decoration: none;
        font-size: 40px;
    }

    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}`

}

.topnav {
    overflow: hidden;
    background-color: "transparent";
    #margin-top:10px;
}

.topnav  img {
    height: 40px;
    float: right;
    margin-right: 10px;
    margin-top:8px;
}

.topnav  p {
    font-size: 24px;
    font-weight: bold;
    #float: left;
    margin-top: 13px;
    #margin-left: 8px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.topnav a {
    float: left;
    display: block;
    color: #333;
    text-align: center;
    padding: 8px 16px;
    text-decoration: none;
    font-size: 30px;
    margin-top: 3px;
    margin-bottom:auto;
}

.topnav .icon {
    float: left;
    right: 0;
    top: 14px;
}

.top_h1 {

    clear: both;
    float: left;
    height:48px;
    padding-top: 0px;
}

.top_h1 p{
    font-size: 22px;
    font-weight: bold;
    line-height:28px;
    margin-top: 0px;
    margin-bottom: 0px;
    height: 28px;
}

#up_time {
    font-size: 18px;
    font-weight: normal;
    clear:both;
    float: left;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    left: -5px;
    font-size: 36px;
    margin-right: 70px;
}
