html,
body {
    margin: 0px;
    height: 100%;
    font-family: "Helvetica Neue",Helvetica,"Myriad Pro","Lucida Grande",sans-serif;
    min-width: 200px;
}

#wrapper
{
	margin: 0 auto;
	width: 600px;
}

#content_area {

    margin-left:10px;
}

.centered {
	margin-left: auto;
	margin-right: auto;
}

.box {
	display: block;
	width: 600px;
	height: 220px;
	border: solid 0px #000;
	border-width: 0px;
	float: left;
	xclear: both;
	margin-top: 20px;
	margin-bottom: 20px;
}

.clear_both {
    clear: both;
}

.graph {
	width:  300px;
	height: 220px;
	background-color: #fff;
	border: solid 0px #aaa;
	border-width: 0px;
	float: left;
}
.pamdet_graph {
	width:  280px;
	height: 220px;
	background-color: #fff;
	border: solid 1px #aaa;
	border-width: 1px;
	float: left;
    margin-top:30px;
}


.graph_planner {
	width:  600px;
	height: 400px;
	background-color: #fff;
	border: solid 0px #aaa;
	border-width: 0px;
	float: left;
    clear: both;
    margin-top: 30px;
}

.graph_sensor {
	width:  250px;
	height: 200px;
	background-color: #fff;
	border: solid 0px #aaa;
	border-width: 0px;
	float: left;
    margin-top: 20px;
}

.just_clear_both {
    clear: both
}

.upinfodiv {
	display: inline-block;
	xwidth:  260px;
	background-color: #fff;
	border: solid 0px #aaa;
	border-width: 0px;
	float: left;
	font-size: 22px;
	margin-left: 20px;
}
.text {
	display: inline;
	width:  220px;
	height: 220px;
	background-color: #eee;
	border: solid 0px #aaa;
	border-width: 0px;
	float: left;
	font-size: 18px;

}

.bigtext {
	font-size: 20px;
	margin-top: 20px;
	margin-bottom: 10px;
	float: left;
    background-color: "#588";
    font-weight: 900;
}
.mediumtext {
	font-size: 18px;
	margin-top: 0px;
	margin-bottom: 0px;
	float: left;
	color: #333;
	clear: both;
    font-weight: 400;
}


.graph-text {
	width:  200px;
	height: 200px;
	background-color: #eee;
	border: solid 1px #aaa;
	border-width: 1px;
    margin-left: 200px;
}

@media screen and (min-width: 1240px) {
    #wrapper
    {
        margin: 0 auto;
        width: 1240px;
    }

    .graph_planner {
        display: block;
        width:  600px;
        height: 400px;
        background-color: #fff;
        border: solid 0px #aaa;
        border-width: 0px;
        float: left;
    margin-top: 30px;
    }
}

@media screen and (max-width: 320px) {
    #wrapper
    {
        margin: 0 auto;
        width: 310px;
    }

    #content_area {

        margin-left:10px;
    }

    #up_time {
        font-size: 12px;
        font-weight: normal;
        clear:both;
        float: left;
    }
    .box {
        width: 320px;
        height: 120px;
        border: solid 0px #000;
        border-width: 0px;
        float: left;
        clear: both;
    }
    .graph {
        width: 140px;
        height: 110px;
    }

    #graph1 {
        margin-top:10px;
        height:300px;
        width:100%;
        margin: 10 auto;
    }
    #graph2 {
        margin-top:10px;
        height:300px;
        width:100%;
        margin: 10 auto;
        margin-bottom:20px;
        padding-bottom:20px;
    }
    #graph3 {
        margin-top:10px;
        height:310px;
        width:100%;
        margin: 10 auto;
        margin-bottom:20px;
        padding-bottom:20px;
    }
    .graph_planner {
        display: block;
        margin-top:30px;
        padding-top:0px;
        width:  320px;
        height: 560;
        border: solid 0px #f44;
        border-width: 0px;
        clear: both;
    }

    .graph_sensor {
        width:  280px;
        height: 200px;
        background-color: #fff;
        border: solid 0px #aaa;
        border-width: 0px;
        float: left;
        margin-top: 20px;
    }

    .upinfodiv { 
        display: inline-block;
        float: left;
        border: solid 0px #444;
        border-width: 0px;
    }

    .bigtext {
        font-size: 14px;
        float: left;
        margin-top: 10px;
    }

    .mediumtext {
        font-size: 12px;
        margin-top: 0px;
        margin-bottom: 0px;
        float: left;
        color: #333;
        clear: both;
        font-weight: 400;
    }

    .xtitletext { 
        display: inline-block;
        width:  180px;
        height: 20px;
        background-color: #fff;
        border: solid 1px #444;
        border-width: 1px;
        float: left;
        font-size: 14px;
        margin-left: 10px;
        font-weight: 300;
    }

    .topnav {
        overflow: hidden;
        background-color: "transparent";
        width: 100%;
        margin-left: 10px;
    }

    .topnav a {
        float: left;
        display: block;
        color: #333;
        text-align: center;
        padding: 4px 8px;
        text-decoration: none;
        font-size: 40px;
    }

    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}`

    .sensornav {padding-top: 15px;}

    .topnav .icon {
        float: left;
        right: 0;
        margin-left: -10px;
        top: 14px;
    }
    .sensor_message {
        width: 290px;
    }

    .pamdet_graph {
        width:  90%;
        height: 280px;
        background-color: #fff;
        border: solid 0px #aaa;
        border-width: 0px;
        float: left;
    }

    .pamdet_img {
        width:  90%;
        background-color: #fff;
        border: solid 0px #aaa;
        border-width: 0px;
        float: left;
        margin-top: 60px;
    }


}

.topnav {
    overflow: hidden;
    background-color: "transparent";
    #margin-top:10px;
}

.topnav  img {
    height: 40px;
    float: right;
    margin-right: 10px;
    margin-top:8px;
}

.topnav  p {
    font-size: 24px;
    font-weight: bold;
    #float: left;
    margin-top: 13px;
    #margin-left: 8px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.topnav a {
    float: left;
    display: block;
    color: #333;
    text-align: center;
    padding: 8px 16px;
    text-decoration: none;
    font-size: 30px;
    margin-top: 3px;
    margin-bottom:auto;
}

.topnav .icon {
    float: left;
    right: 0;
    top: 14px;
}

.top_h1 {

    clear: both;
    float: left;
    height:48px;
    padding-top: 0px;
}

.top_h1 p{
    font-size: 22px;
    font-weight: bold;
    line-height:28px;
    margin-top: 0px;
    margin-bottom: 0px;
    height: 28px;
}

.top_sensor_label {

    clear: both;
    float: left;
    height:48px;
    padding-top: 0px;
    font-size: 22px;
    font-weight: bold;
    line-height:28px;
    margin-top: 0px;
    margin-bottom: 0px;
    height: 28px;
}


#up_time {
    font-size: 18px;
    font-weight: normal;
    clear:both;
    float: left;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    left: -5px;
    font-size: 36px;
    margin-right: 70px;
}

.sensornav {
    height: 90%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 40px;
    margin-bottom: 30px;
}

.sensornav a {
    padding: 2px 8px 2px 22px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    margin-top:0px;
    margin-bottom:0px;
    padding-bottom:0px;
}

.sensornav a:hover {
    color: #f1f1f1;
}

.sensornav .closebtn {
    position: absolute;
    top: 0;
    left: -5px;
    font-size: 36px;
    margin-right: 70px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-top:0px;
}

.sensornav h1 {
    padding: 0px 8px 0px 12px;
    text-decoration: none;
    font-size: 22px;
    color: #eee;
    display: block;
    transition: 0.3s;
    font-weight: 300;
    margin-top:0px;
    margin-bottom:0px;
    clear: both;
}

.sensor_select_button {
    background-color: #008CBA;
    border: none;
    color: white;
    padding: 3px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 3px 12px;
    cursor: pointer;
    border-radius: 4px;
    margin-bottom: 14px;
}

.sensornav .okbtn {
    position: absolute;
    top: 8px;;
    right: 6px;
    font-size: 28px;
    color: #eee;
}

.antcheckbox {
    color: red;
}

@supports (zoom:2) {
    input[type="radio"],  input[type=checkbox]{
        zoom: 1.5;
    }
}
@supports not (zoom:2) {
    input[type="radio"],  input[type=checkbox]{
        transform: scale(1.5);
        margin: 15px;
    }
}


label{
    /* fix vertical align issues */
    display: inline-block;
    vertical-align: top;
    margin-top: 6px;
    margin-left: 5px;
    margin-right: 5px;
    color: #eee;
    font-size: 18px;
}

input[type=checkbox] {
    transform: scale(1.5);
    margin-left: 13px;
}

input[type=radio] {
    transform: scale(1.5);
    margin-left: 13px;
}
.checkbox_container {
    float: left;
    width: 88px;
    margin-top: 6px;
}

.checkbox_sensornames_container {
    clear: both;
    width: 100%;
}

.navsensorlist {
    overflow-y: auto;
}

.navyearlist {
    overflow-y: auto;
}
.no_data_text {
    position:relative; 
    left:0px; 
    top:0px; 
}

.ant_label {
    float: left;
    clear: both;
    height: 18px;
    margin-top: 5px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.sensor_message p {
    font-weight: normal;
    font-size: 22px;
    clear: both;
}

.year_label {
    float: left;
    clear: both;
    height: 16px;
    margin-top: 5px;
    margin-bottom: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
    font-size: 18px;
}

.problems_text {

    width: 90%;

}

.spacer_div {
    width: 90&;
    height: 10px;
    float: left;
    clear: both;
}

.pamdet_img {
    width:  90%;
    max-width: 600px;
    background-color: #fff;
    border: solid 0px #aaa;
    border-width: 0px;
    float: left;
    margin-top: 60px;
}
